@use "./mediaqueries";

$primary-color: #7daba7;
$secondary-color: #564973;
$tertiary-color: #b2818b;
$background-color: white;
$text-color: black;
$font-type: "Poppins", sans-serif;
$font-size-base: 14px;

body {
  font-family: $font-type;
  font-size: $font-size-base;
  color: $text-color;
  margin: 0;
  padding-top: 30px;
  @include mediaqueries.phone {
    h2 {
      text-align: center;
      font-size: 23px;
    }
    img {
      display: block;
      margin: auto;
    }
    h4 {
      font-size: 30px;
    }
    p {
      text-align: center;
      padding: 20px;
    }
  }
  @include mediaqueries.desktop {
    h2 {
      text-align: center;
      font-size: 30px;
    }
  }
}

header {
  @include mediaqueries.phone {
    display: none;
  }
  @include mediaqueries.desktop {
    background-color: $primary-color;
    padding: 20px;
    font-weight: bold;

    nav {
      display: flex;
      justify-content: space-between;
      padding: 10px 30px;

      ul {
        list-style: none;
        display: flex;
        gap: 15px;
        padding-left: 60%;
        a:visited {
          color: $secondary-color;
        }
        a:link {
          color: $text-color;
        }
        a:hover {
          cursor: pointer;
        }
        a {
          text-decoration: none;
        }
      }
    }
    button {
      background-color: $primary-color;
      cursor: pointer;
      border: solid 1px black;
      padding: 10px 20px;
      border-radius: 10px;
      margin-left: 4%;
      a {
        text-decoration: none;
      }
    }
  }
}

.home {
  @include mediaqueries.phone {
    h3 {
      text-align: center;
      padding-right: 5%;
    }
    h1 {
      font-size: 50px;
      text-align: left;
      padding-right: 5%;
      padding-left: 20%;
    }
    .home__image {
      display: none;
    }
  }
  @include mediaqueries.desktop {
    padding-top: 10%;
    div {
      display: flex;
      justify-content: center;
    }

    h3 {
      font-size: 25px;
      padding-left: 70px;
    }

    h1 {
      font-size: 50px;
      padding-left: 70px;
    }
    img {
      padding-right: 10%;
      padding-left: 10%;
    }
  }
}

.about-title1 {
  font-size: 30px;
  @include mediaqueries.desktop {
    display: none;
  }
}

.about {
  .about-title2 {
    display: flex;
    @include mediaqueries.phone {
      display: none;
    }
  }

  @include mediaqueries.desktop {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 70px;
    padding-right: 70px;
    align-items: center;

    img {
      width: auto;
      height: 500px;
    }
    .about-text {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 50px;
    }
  }
}
.skills {
  h2 {
    text-align: center;
    font-size: 30px;
  }
  p {
    text-align: center;
  }
  @include mediaqueries.desktop {
    padding: 20px;
    margin: 100px;
  }
}

.technical-skills {
  @include mediaqueries.phone {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-content: center;
    padding-right: 20px;
    p {
      float: left;
      width: 80%;
      margin-bottom: 10px;
    }
    img {
      width: 50px;
      height: 50px;
      float: left;
      margin-right: 10px;
    }
  }

  @include mediaqueries.desktop {
    display: flex;
    justify-content: center;
    text-align: center;

    img {
      width: 40px;
      height: 40px;
    }
  }
}

.projects {
  h2 {
    text-align: center;
    font-size: 30px;
  }
}

.clientProjects {
  h3,
  h4 {
    margin: 0;
    padding: 0;
  }

  @include mediaqueries.phone {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      display: block;
      margin: 0 auto;
      width: 80%;
      padding-top: 20px;
    }
    p {
      margin-bottom: 5px;
      line-height: 1.2;
    }
  }

  @include mediaqueries.desktop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding-left: 60px;
    padding-top: 20px;

    img {
      width: 400px;
      height: 300px;
      border-radius: 5px;
    }

    p {
      margin: 0;
      // text-align: end;
      width: 400px;
    }
  }
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $secondary-color;
  min-height: 25vh;
  margin-top: 50px;

  h5 {
    margin: 0;
    a {
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      &:visited {
        color: $background-color;
      }
      &:link {
        color: $background-color;
      }
      &:hover {
        cursor: pointer;
      }
    }
    @include mediaqueries.desktop {
      padding-left: 50px;
    }
  }

  .social-icons {
    display: flex;
    gap: 15px;
    padding-right: 50px;

    img {
      width: 40px;
      height: 40px;
    }
    @include mediaqueries.desktop {
      padding-right: 50px;
    }
  }

  @include mediaqueries.phone {
    flex-direction: column-reverse;
    justify-content: center;

    .social-icons {
      justify-content: center;
      margin-bottom: 10px;
      padding-left: 50px;
    }

    h5 {
      text-align: center;
      margin-top: 10px;
    }
  }
}
